<div class="row">
  <div class="col">
    <h1><%= t('members.sign_in.title') %></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <%= yield %>
  </div>
  <div class="col-lg-6">
    <%= t('members.sign_in.description_html') %>
  </div>
</div>
