<%= form_with model: [registration_campaign], local: true do |form| %>
  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :sport_season %>
    </div>
    <div class="col-md-9">
      <%= form.collection_select :sport_season_id, SportSeason.future_seasons, :id, :to_label %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :start_at, class: "col-form-label" %>
    </div>
    <div class="col-md-9">
      <%= form.date_select :start_at, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :end_at, class: "col-form-label" %>
    </div>
    <div class="col-md-9">
      <%= form.date_select :end_at, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label(:is_public, class: "col-form-label") do %>
          <%= t("activerecord.attributes.registration_campaign.is_public") %>
          <span class="badge badge-secondary" data-toggle="tooltip" data-placement="right" title="<%= t('registration_campaigns.new.public_checkbox_help') %>">?</span>
      <% end %>
    </div>
    <div class="col-md-9">
      <%= form.check_box :is_public %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label(:quota, class: "col-form-label") do %>
        <%= t("activerecord.attributes.registration_campaign.quota") %>
        <span class="badge badge-secondary" data-toggle="tooltip" data-placement="right" title="<%= t('registration_campaigns.new.quota_checkbox_help') %>">?</span>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= form.number_field :quota, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-10 mt-4">
      <%= form.submit nil, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
