<h1>Registration campaigns</h1>

<div class="row mt-5">
  <div class="col">
    <%= link_to "Create a new campaign", new_registration_campaign_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Created at</th>
          <th>Created by</th>
          <th>Season</th>
          <th>Public</th>
          <th>Period</th>
        </tr>
      </thead>
      <tbody>
        <% if @registration_campaigns.present? %>
          <% @registration_campaigns.each do |registration| %>
            <tr>
              <td>
                <%= l registration.created_at, format: :short %>
              </td>
              <td>
                <%= registration.created_by.name %>
              </td>
              <td>
                <%= registration.sport_season.to_label %>
              </td>
              <td>
                <% if registration.is_public %>
                  ✅
                <% else %>
                  ❌
                <% end %>
              </td>
              <td>
                <%= l registration.start_at %>
                — <%= l registration.end_at %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">No registration campaigns yet</td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>
