<div class="container">
  <%= form_with model: [group], local: true, class: "row" do |form| %>
    <fieldset class="col-12">
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :name, class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :description, class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= form.text_area :description, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :email, class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= form.text_field :email, class: "form-control" %>
        </div>
      </div>
    </fieldset>

    <fieldset class="col-12">
      <div class="form-group row">
        <div class="col-md-10">
          <%= form.submit nil, class: 'btn btn-primary' %>
          <%= link_to I18n.t('back'), session[:return_to], class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
