<div class="modal fade" id="importGroupMembersModal" tabindex="-1" role="dialog" aria-labelledby="importGroupMembersModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_with url: import_groups_url, method: :post do |form| %>
      <div class="modal-header">
        <h5 class="modal-title" id="importMembersModalTitle"><%= t('members.index.modals.import.title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-3">
            <%= form.label t('members.index.modals.import.file_input'), class: "col-form-label" %>
          </div>
          <div class="col-md-9">
            <%= form.file_field :import_file, accept: 'text/csv', class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('members.index.modals.import.buttons.cancel') %></button>
        <%= form.submit t('members.index.modals.import.buttons.import'), class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
