<div class="row mb-3">
  <div class="col">
    <% if can?(:update, @group) %>
    <p class="float-right">
      <%= link_to "#{t('groups.show.edit_button')} 📝", edit_group_path(@group), class: 'btn btn-primary btn-sm' %>
    </p>
    <% end %>

    <h1><%= t('groups.show.title', name: @group.name) %></h1>

    <div class="float-none mb-3">
      <span class="text-muted font-italic">
        <small>
          <%= t('groups.show.created_at', date: @group.created_at.to_date) %>
        </small>
      </span>
      <div class="badges">
      <% if @group.email.present? %>
        <span class="badge badge-info">💌 <%= mail_to @group.email, @group.email, class: "text-light" %></span>
      <% end %>
      </div>
    </div>

    <div class="lead"><%= @group.description %></div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-8">
    <h2><%= t('groups.show.members_list') %></h2>
    <ul class="list-group">
      <% if @group.current_members.present? %>
        <% @group.current_members.select("members.*, memberships.id AS membership_id").each do |member| %>
          <li class="list-group-item member">
            <%= link_to member.name, member_url(member) %>

            <% if can?(:destroy, Membership) %>
              <span class="float-right">
                <%= form_with(url: group_membership_url(@group, member.membership_id), local: true, method: :delete) do |f| %>
                  <%= f.submit('❌', class: 'btn btn-sm btn-outline-danger', data: { confirm: t('groups.show.buttons.confirm') }) %>
                <% end %>
              </span>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li class="list-group-item">
          <b>
            <%= t('groups.show.empty_members') %>
          </b>
        </li>
      <% end %>

      <% if can?(:create, Membership) %>
      <li class="list-group-item font-italic">
        <%= form_with model: [@group, Membership.new], local: true do |form| %>
          <div class="input-group mb-3">
            <%= form.text_field :member_name, autocomplete: "off", class: "form-control", id: "autoComplete", placeholder: "#{t('groups.show.new_member')}", "data-autocomplete": "#{members_path}.json", "data-autocomplete-minchars": 3, "data-autocomplete-param-name": "search", "data-autocomplete-search-attr-name": "name", "data-autocomplete-select-attr-name": "id" %>
            <%= form.hidden_field :member_id, class: "autoComplete_selected" %>
            <div class="input-group-append">
              <%= form.submit "➕", class: 'btn btn-outline-secondary' %>
            </div>
          </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
  <p><%= @group.to_json %></p>
<% end %>
