<h1><%= t('registrations.index.title') %></h1>

<div class="row">
  <div class="col">
    <% if @registrations.present? %>
      <div class="table-responsive-sm">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col"><%= t('activerecord.models.registration.attributes.public') %>
              </th>
              <th scope="col"><%= t('activerecord.models.registration.attributes.start_at') %>
                <%= order_link(:start_at, order: @order) %>
              </th>
              <th scope="col"><%= t('activerecord.models.registration.attributes.end_at') %>
              </th>
              <th scope="col"><%= t('activerecord.models.registration.attributes.creator') %>
              </th>
              <th scope="col"><%= t('activerecord.models.registration.attributes.created_at') %>
                <%= order_link(:created_at, order: @order) %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @registrations.each do |registration| %>
              <tr class="clickable-row">
                <td>
                  <%= registration.public %>
                  <%= render_registration_bootstrap_badge(registration)&.html_safe %>
                </td>
                <td>
                  <%= registration.start_at %>
                </td>
                <td>
                  <%= registration.end_at %>
                  <span class="small">(<%= registration.period %> days)</span>
                </td>
                <td>
                  <%= link_to registration.creator.name, member_url(registration.creator) %>
                </td>
                <td><%= l registration.created_at, format: :short %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <b>
          <%= t('registrations.index.empty') %>
      </b>
    <% end %>
      <div class="row">
        <div class="col-6">
          <% if can?(:create, Registration) %>
            <%= link_to "➕ #{t('registrations.index.buttons.create')}",
                        new_registration_path,
                        class: 'btn btn-sm btn-outline-primary' %>
            <% end %>
        </div>
      </div>
  </div>
</div>

<%= render partial: "shared/pagination",
    locals: {
      collection: @registrations,
      current_page: @page,
      link_params: @index_params,
      per_page: @limit,
      offset: @offset,
      total: @total
    }
%>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
