<h1><%= t('registrations.new.title') %></h1>

<%= render partial: "form", locals: {registration: @registration}%>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
