<title><%= local_assigns[:title] ? local_assigns[:title] : 'Grimpe Club' %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= favicon_pack_tag 'static/favicon.png', rel: 'shortcut icon apple-touch-icon', type: 'image/png' %>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
