<div class="nav-item">
  <% is_active = current_controller?([locals[:path]]) ? "active" : "" %>
  <%= link_to locals[:path], class: "nav-link font-weight-bold text-light bg-success #{is_active}" do %>
    <span class='menu-icon'><%= locals[:icon] %></span>
    <%= yield %>
  <% end %>
</div>
