<% unless current_page == 1 && collection.size < per_page %>
<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="d-flex">
      <div class="m-auto p-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item <% if current_page == 1 %>disabled<% end %>">
              <%= link_to(link_params.merge(offset: 0), class: "page-link", aria: {disabled: (current_page == 1)}) do %>
                <span aria-hidden="true">&laquo;</span>
              <% end %>
            </li>
            <% if current_page > 1 %>
              <% if current_page > 2 %>
                <li class="page-item disabled"><a class="page-link" href="#">…</a></li>
              <% end %>
              <li class="page-item">
                <%= link_to  (current_page.to_i - 1), link_params.merge(offset: (offset.to_i - per_page.to_i)), class: "page-link" %>
              </li>
            <% end %>
            <li class="page-item active"><a class="page-link" href="#"><%= current_page %></a></li>
            <% if collection.size == per_page %>
              <li class="page-item">
                <%= link_to  (current_page.to_i + 1), link_params.merge(offset: (offset.to_i + per_page.to_i)), class: "page-link" %>
              </li>
              <li class="page-item disabled"><a class="page-link" href="#">…</a></li>
            <% end %>
            <li class="page-item <% if collection.size < per_page %>disabled<% end %>">
              <%= link_to(link_params.merge(offset: total - (total % per_page)), class: "page-link", data: {"aria-disabled": (collection.size < per_page)}) do %>
                <span aria-hidden="true">&raquo;</span>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<% end %>
