<h1><%= t('settings.index.title') %></h1>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div>
        <p><%= t('settings.index.subtitle') %></p>
        <p><b><%= t('settings.index.warning').html_safe %></b></p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <% if Setting::CONFIGURABLE_KEYS.present? %>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col"><%= t('activerecord.attributes.setting.key') %></th>
              <th scope="col" class="value"><%= t('activerecord.attributes.setting.value') %></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% Setting::CONFIGURABLE_KEYS.each do |key, default| %>
              <% setting = @settings.find_by_s_key(key) %>
              <%= form_with url: settings_path, scope: :setting, local: true, class: "row" do |form| %>
              <tr>
                <td scope="row"><%= key %></td>
                <td scope="row" class="value">
                  <% if setting.present? %>
                    <%= setting.value.inspect %>
                  <% else %>
                    <%= form.hidden_field :key, value: key %>
                    <%= form.text_field :value, value: Setting.cached_or_find_by_key(key), class: "form-control" %>
                  <% end %>
                </td>
                <td>
                  <% if setting.present? %>
                    <%= link_to(setting_url(setting),
                                method: :delete,
                                title: t('settings.index.buttons.default'),
                                class: 'btn-danger btn mx-0',
                                data: { confirm: t('settings.index.buttons.confirm') }) do %>
                      ✗
                  <% end %>
                <% else %>
                  <%= form.submit '✏️ ',
                                  title: t('settings.index.buttons.edit'),
                                  class: 'button btn-outline-primary btn mx-0' %>
                <% end %>
                </td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
    <% else %>
      <b><%= t('settings.index.empty') %></b>
    <% end %>
  </div>
</div>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
