<h1><%= t('home.title', first_name: current_user.first_name.capitalize) %></h1>
<% if @registration.present? %>
  <% end_at = h(l(@registration.end_at, format: :long)) %>
  <% if current_user.candidate?  %>
    <p><%= t('home.registration_still_ongoing',
             end_at: end_at).html_safe %></p>
  <% else %>
    <p><%= t('home.registration_open') %></p>
  <% end%>
<% else %>
  <p><%= t('home.description') %></p>
<% end %>
