<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div>
        <h1><%= t('unlogged_index.title', club_name: club_name) %></h1>
        <p><%= t('unlogged_index.description_html', href: link_to(t("nav.sign_in"), send(Passwordless.mounted_as).sign_in_path)) %></p>

        <% if @registration.present? %>
          <% # force HTML escape (with the 'h' method) of potential user inputs %>
          <% # because we set the resulting translation as 'html_safe' %>
          <% start_at = h(l(@registration.start_at, format: :long)) %>
          <% end_at = h(l(@registration.end_at, format: :long)) %>
          <% quantity = h(@registration.quantity) %>

          <% if @member.new_record? %>
            <h2><%= t('unlogged_index.registration_open_title') %></h2>
            <p>
            <%= t(
              'unlogged_index.registration_open',
              start_at: start_at,
              end_at: end_at,
              quantity: quantity
            ).html_safe %>
            </p>

            <%= render partial: "members/form", locals: {
              form_destination: {model: [@member], url: register_members_path },
              permitted_attributes: Member::CREATION_FIELDS
            } %>
          <% else %>
            <%= render partial: "members/registration_summary",
                       locals: { member: @member, registration_ends_at: end_at, quantity: quantity } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
