<%= render "passwordless/shared/info" do %>
    <div class="card">
      <h3 class="card-header text-white bg-success"><%= I18n.t('passwordless.sessions.create.check_emails') %></h4>
      <div class="card-body">
        <h4 class="card-title"><%= I18n.t('passwordless.sessions.create.waiting_for_you') %></h4>
        <p class="card-text"><%= I18n.t('passwordless.sessions.create.email_sent_if_record_found').html_safe %></p>
      </div>
    </div>
<% end %>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
