<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('unlogged_index.registration_saved') %></h5>
    <p><%= t('unlogged_index.registration_summary') %></p>
    <div class="row">
      <div class="col-md-6">
        <legend><%= t('members.new.basic_detail') %></legend>
        <p><strong><%= t('activerecord.attributes.member.first_name')%>:</strong> <%= @member.first_name %></p>
        <p><strong><%= t('activerecord.attributes.member.last_name')%>:</strong> <%= @member.last_name %></p>
        <p><strong><%= t('activerecord.attributes.member.sexe')%>:</strong> <%= @member.sexe %></p>
        <p><strong><%= t('activerecord.attributes.member.date_of_birth')%>:</strong> <%= @member.dob %></p>
      </div>
      <div class="col-md-6">
        <legend><%= t('members.new.contact') %></legend>

        <p><strong><%= t('activerecord.attributes.member.email')%>:</strong> <%= @member.email %></p>
        <p><strong><%= t('activerecord.attributes.member.phone')%>:</strong> <%= @member.phone %></p>
        <p><strong><%= t('activerecord.attributes.member.address')%>:</strong> <%= @member.address %></p>
        <p><strong><%= t('activerecord.attributes.member.zipcode')%>:</strong> <%= @member.zipcode %></p>
        <p><strong><%= t('activerecord.attributes.member.city')%>:</strong> <%= @member.city %></p>
      </div>
    </div>

    <h5><%= t('unlogged_index.registration_next_steps_title') %></h5>
    <p>
    <%= t('unlogged_index.registration_next_steps',
          end_at: registration_ends_at,
          quantity: quantity).html_safe %>
    </p>
  </div>
</div>
