<h1><%= t('members.update.title') %></h1>
<% permitted_attributes = can?(:manage, Member) ? Member::CREATION_FIELDS : Member::UPDATE_FIELDS %>
<%= render partial: "form", locals: {
             permitted_attributes: permitted_attributes,
             form_destination: {model: [@member]}
           }
%>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
