<!-- Modal -->
<%= render partial: "import_modal" %>
<%= render partial: "export_modal" %>

<!-- Page -->

<h1><%= t('members.index.title') %></h1>

<div class="row mt-3">
  <div class="col-sm-6">
    <%= form_with method: "get" do |form| %>
      <div class="input-group mb-3">
        <%= form.text_field :search, placeholder: t('members.index.buttons.search'), value: @search, class: "form-control" %>
        <%= hidden_field_tag(:year, @year) %>
        <div class="input-group-append">
          <%= form.submit("🔎", class: 'btn btn-outline-secondary input-group-text', id: 'button-addon2') %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <div class="dropdown float-sm-right mb-3">
      <% if can?(:destroy, Member) %>
        <%= button_tag(type: "submit",
                       data: { confirm: "Are you sure ?" },
                       form: "delete_members_form",
                       class: "btn btn-sm btn-outline-danger") do %>
          Delete members
        <% end %>
      <% end %>

      <% if can?(:import, Member) %>
      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exportMembersModal">
        <%= t('members.index.buttons.export') %>
      </button>
      <!-- <%= link_to request.query_parameters.merge(format: 'csv'), class: "btn btn-sm btn-outline-secondary" do %> -->
      <!--   <%= t('members.index.buttons.export') %> -->
      <!-- <% end %> -->
      <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#importMembersModal">
        <%= t('members.index.buttons.import') %>
      </button>
      <% end %>
      <a class="btn btn-<%= @years.first.year.to_i == @year.to_i ? 'success' : 'warning' %> btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if @year.to_i == 0 %>
        <%= t('activerecord.attributes.member.no_membership').pluralize %>
        <% else %>
        <%= t('activerecord.models.member').pluralize %> <%= @years.find { |m| m.year.to_i == @year.to_i }&.human_year %>
        <% end %>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% @years.select { |m| m.year.to_i != @year.to_i }.each do |m| %>
          <small>
            <%= link_to request.query_parameters.merge(year: m.year), class: "dropdown-item" do %>
              <%= t('activerecord.models.member').pluralize %> <%= m.human_year %>
            <% end %>
          </small>
        <% end %>
          <small>
            <%= link_to request.query_parameters.merge(year: :none), class: "dropdown-item" do %>
              <%= t('activerecord.attributes.member.no_membership').pluralize %>
            <% end %>
          </small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <% if @active_members.present? %>
      <%= form_with id: "delete_members_form", url: batch_members_url, method: :delete do |f| %>
        <div class="table-responsive-sm">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col" colspan="2"><%= t('activerecord.attributes.member.first_name') %>
                  <%= order_link(:first_name, order: @order) %>
                </th>
                <th scope="col"><%= t('activerecord.attributes.member.last_name') %>
                  <%= order_link(:last_name, order: @order) %>
                </th>
                <th scope="col"><%= t('activerecord.attributes.member.workflow_state') %>
                  <%= order_link(:workflow_state, order: @order) %>
                </th>
                <th scope="col"><%= t('activerecord.attributes.member.created_at') %>
                  <%= order_link(:created_at, order: @order) %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @families.each do |family| %>
                <% family.each_with_index do |member, child| %>
                  <% if child > 0 %>
                    <tr class="clickable-row"></tr>
                  <% end %>
                  <tr class="clickable-row member-row">
                    <th scope="row"><%= f.check_box 'ids[]', {}, member.id, nil %></th>
                    <% if child > 0 %>
                    <td>⤷</td>
                    <td>
                    <% else %>
                    <td colspan="2">
                    <% end %>
                      <%= link_to member.first_name, member_url(member) %>
                    </td>
                    <td><%= link_to member.last_name, member_url(member) %></td>
                    <td><%= render_member_state_bootstrap_badge(member.workflow_state).html_safe %></td>
                    <td><%= l member.created_at, format: :short %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-6">
            <% if can?(:create, Member) %>
              <%= link_to "➕ #{t('members.index.buttons.create')}",
                          new_member_path,
                          class: 'btn btn-sm btn-primary float-right' %>
              <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <b>
        <% if @search.blank? %>
          <%= t('members.index.empty') %>
        <% else %>
          <%= t('members.index.empty_search', search: @search) %>
        <% end %>
      </b>
    <% end %>
  </div>
</div>

<%= render partial: "shared/pagination",
    locals: {
      collection: @active_members,
      current_page: @page,
      link_params: @index_params,
      per_page: @limit,
      offset: @offset,
      total: @total
    }
%>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
