<h1><%= t('members.new.title') %></h1>

<%= render partial: "form", locals: {
             permitted_attributes: Member::CREATION_FIELDS,
             form_destination: {model: [@member]}
           }
%>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
