<div class="row mb-3">
  <div class="col">
    <p class="float-right">
      <%= link_to "#{t('members.show.buttons.edit')} 📝", edit_member_path(@member), class: 'btn btn-primary btn-sm' %>
    </p>

    <h1><%= emoji_sexe(@member.sexe) %> <%= t('members.show.title', name: @member.name) %></h1>

    <div class="float-none mb-3">
      <span class="text-muted font-italic">
        <small>
          <%= t('members.show.created_at', date: l(@member.created_at.to_date, format: :long)) %>
        </small>
          —
        <% if @sessions.present? %>
          <% current_session = @sessions.first %>
          <small>
            <span data-toggle="tooltip" data-placement="bottom" title="<%= current_session.user_agent %> (<%= current_session.remote_addr %>)">
              <%= t('members.show.last_connection_at', datetime: l(current_session.claimed_at, format: :long)) %>
            </span>
          </small>
        <% else %>
        <small class="font-weight-bold">
          Never logged-in
          </small>
        <% end %>
      </span>
      <div class="badges">
        <% if @member.latest_membership.present? %>
          <span class="badge badge-<%= @member.active? ? 'success' : 'warning' %>">Member <%= @member.latest_membership.human_year %></span>
        <% end %>
        <span class="badge badge-secondary" data-toggle="tooltip" data-placement="bottom" title="<%= t('members.show.date_of_birth', dob: @member.dob) %>">
          <%= t('members.show.age', age: @member.age) %>
        </span>
      <% if @member.email.present? %>
        <span class="badge badge-info">💌 <%= mail_to @member.email, @member.email, class: "text-light" %></span>
      <% end %>
      <% if @member.admin? %>
        <span class="badge badge-danger"><%= t('activerecord.attributes.member.roles.admin') %></span>
      <% end %>
      </div>
    </div>

    <table class="table address">
      <thead>
        <tr>
          <th><em><%= t('activerecord.attributes.member.phone') %></em></th>
          <th><em><%= t('activerecord.attributes.member.address') %></em></th>
          <th><em><%= t('activerecord.attributes.member.zipcode') %></em></th>
          <th><em><%= t('activerecord.attributes.member.city') %></em></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @member.phone %></td>
          <td><%= @member.address %></td>
          <td><%= @member.zipcode %></td>
          <td><%= @member.city %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if @member.parent_id.present? || @member.children.present? %>
<div class="row mb-3">
  <div class="col">
    <h2><%= t('members.show.family_list') %></h2>

    <ul class="list-group">
      <% parent = @member.parent %>
      <% ([parent || @member] + [parent&.children] + [@member.children]).flatten.compact.each do |member| %>
        <li class="list-group-item <%= @member == member ? 'bg-light' : '' %>">
          <%= link_to member.name, member_url(member), class: @member == member ? 'text-muted' : '' %>
          <% if member.parent_id.nil? %>
            <span class="badge badge-primary">parent</span>
          <% end%>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% if @member.current_groups.present? %>
<div class="row mb-3">
  <div class="col">
    <h2><%= t('members.show.groups_list') %></h2>

    <ul class="list-group">
      <% @member.current_groups.each do |group| %>
      <li class="list-group-item"><%= link_to group.name, group_url(group) %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
  <p><%= @member %></p>
<% end %>
